<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.api.v1.post.mapper.PostMapper">




<resultMap id="PostMap" type="com.ssafy.project.api.v1.post.dto.PostDto">
    <id property="postId" column="post_id"/>
    <result property="boardId" column="board_id"/>
    <result property="userId" column="user_id"/>
    <result property="challengeId" column="challenge_id"/>
    <result property="title" column="title"/>
    <result property="contentMd" column="content_md"/>
    <result property="likesCount" column="likes_count"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
    <result property="deletedAt" column="deleted_at"/>
</resultMap>

</mapper>